{
    "user": "someone",
    "password": "super secret",
    "host": "localhost",
    "database": "somename",
    "serviceid": "s:something census service id",
    "useragent": "http request agent"
}
